<!doctype html>
<html>
<head>
  <title><h4>Sinatra Blog</h4></title>
</head>
<body>

<h2>Added!!!</h2>
<p><h3>Title: <%="#{@title}" %></h3></p>
<p><h5>Text: <%="#{@text}" %> years</h5></p>
<p><h5>Date: <%="#{@date}" %></h5></p>

<h4><a href="http://localhost:4567/">Home<br></a></h4>


</body>
</html>