<!doctype html>
<html>
<head>
  <title><h4>Sinatra Blog</h4></title>
</head>
<body>

<h2>Add a new post</h2>

<form action="/added" method="POST">
<input type="text" name="title" placeholder="Enter title">
<input type="text" name="text" placeholder="Enter text">
<button type="submit">Create!</button>
</form>
</body>
</html>