<!doctype html>
<html>
<head>
  <title>Result</title>
</head>
<body>
<h1>Result = <%= @result %></h1>
<form action="/save_result" method ="POST">
  <button type="submit" name="save_result" value= <%= @result %>> Save result</button>
</form>
</body>
</html>
