<!doctype html>
<html>
<head>
  <title><h4>Sinatra Blog</h4></title>
</head>
<body>

<h2>Welcome Sinatra Blog</h2>

<form action="/" method="GET">
<% @posts.each_with_index do |post, index| %>
  <a href="http://localhost:4567/<%= post.title %>"><%= post.title %><br></a>
<% end %>

<h4><a href="http://localhost:4567/new_post">New Post<br></a></h4>

</form>
</body>
</html>